.group {
  background: rgba(0, 0, 0, .1);
  border-radius: 3px;
  font-size: .9rem;
  > a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

// Header

.group__header {
  display: flex;
  align-items: center;
}

.group__header-name {
  display: flex;
  flex: 1;
  flex-basis: auto;
  font-weight: 600;
  padding-right: 10px;
  > span {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
  }
}

.group__header-time {
  white-space: nowrap;
  font-size: .6rem;
  color: #b6b6b6;
}

// Footer

.group__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 8px;
  color: #a6a6a6;
  font-size: .8rem;
  line-height: 1;
  > .base-checkbox {
    font-size: .6rem;
    margin-left: 3px;
  }
  > .base-icon {
    font-size: .6rem;
  }
}

.group__footer-users {
  display: flex;
  align-items: center;
  font-size: .6rem;
  margin-left: 5px;
  > .base-icon {
    margin: 2px 0 0 2px;
  }
}

.group__footer-task {
  display: flex;
  align-items: center;
  width: 100%;
  > .base-checkbox {
    margin-right: 5px;
  }
}

.group__footer-task__name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// <transition>

.groups-animate-enter {
  opacity: .3;
  transform: scale(.95);
}

.groups-animate-enter-active {
  transition: all .3s ease;
}

.groups-animate-enter-to {
  opacity: 1;
  transform: scale(1);
}
