.base-input {
  > input {
    outline: 0;
    padding: 0 15px;
    height: 40px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    width: 100%;
  }
}
