.base-checkbox {
  position: relative;
  min-width: 14px;
  min-height: 14px;
  background: rgba(255, 255, 255, .1);
  &:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    width: 3px;
    height: 6px;
    transform: rotate(45deg);
    transition: .2s;
  }
}

.base-checkbox_checked {
  &:after {
    border: solid #fff;
    border-width: 0 1px 1px 0;
  }
}
