.base-checkbox {
  display: flex;
  align-items: center;
}

.base-checkbox_size_small {
  .base-checkbox__input {
    min-width: 14px;
    min-height: 14px;
    &:after {
      top: 3px;
      left: 5px;
      width: 3px;
      height: 6px;
    }
  }
}

.base-checkbox_size_medium {
  .base-checkbox__input {
    min-width: 20px;
    min-height: 20px;
    &:after {
      top: 3px;
      left: 8px;
      width: 4px;
      height: 10px;
    }
  }
}

.base-checkbox__input {
  position: relative;
  background: rgba(255, 255, 255, .2);
  &:after {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    transition: .2s;
  }
}

.base-checkbox__input_checked {
  &:after {
    border: solid #fff;
    border-width: 0 1px 1px 0;
  }
}

.base-checkbox__content {
  flex: 1;
  flex-basis: auto;
  font-size: .9em;
  margin-left: 8px;
}
