@mixin baseDefaultStyles() {
  > input,
  > textarea {
    outline: 0;
    color: rgba(255, 255, 255, .87);
    background: rgba(0, 0, 0, .25);
    border: 0;
    max-width: 300px;
    width: 100%;
  }
  > label {
    display: block;
    padding: 5px 10px;
  }
}

@mixin animRotate($duration: 1s) {
  animation-name: rotate;
  animation-duration: $duration;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
